extends layout

block content
  h1= title
  div(id='spin')
  div(id='checkboxes' style="width:50%")
  div
    input(type='submit' id='submit')
  div(id="download")
  div(style="text-align:center; margin-top:30px;")
    a(href="https://github.com/UBC-LFS/course-scheduler") Code on Github
  
